body {
	width: 100%;
	height:100%;
}
.container {
	width: 990px;
	height: 420px;
	margin: auto;
    margin-top: 60px;
}
.container .title {
	margin-top: 59px;
}
/*找回密码步骤*/
.container .progress {
	width: 980px;
	height:50px;
	margin: 0 auto;
    margin-top: 37px;
    margin-left: 64px;
}
.progress .icons1,
.progress .icons3,
.progress .icons2{
	display: inline-block;
}
.progress hr {
	width:404px;
	height: 3px;
	margin: 31px;
    display: inline-block;
    margin-left: 3px;
}
hr:nth-child(2) {
	background-color: #0188cc;
}
hr:nth-child(4) {
	color:#dedede;
	margin-left: -15px;
	background-color: #0188cc;
}
.progress .step1 {
	margin-top: 1px;
	line-height: 25px;
	background-color: #0188cc;
	width: 26px;
	height: 26px;
	border-radius: 12px;
	color:#fff;
	text-align: center;
}
.progress .step2 {	
	margin-top: 1px;
	line-height: 25px;
	background-color: #0188cc;
	width: 26px;
	height: 26px;
	border-radius: 12px;
	color:#fff;
	text-align: center;
	margin-left: -31px;
}
.progress .step3 {	
	margin-top: 1px;
	line-height: 25px;
	background-color: #0188cc;
	width: 26px;
	height: 26px;
	border-radius: 12px;
	color:#fff;
	text-align: center;
    margin-left: -31px;
    font-size: larger;
}

.progress .step4 {
	color:#0188cc;
	margin-top: 7px;
}
.progress .step5 {
	color:#0188cc;
	margin-top: 7px;
}
.progress .step6 {
	color:#0188cc;
	margin-top: 7px;
}
.progress .step5 {
	margin-left: -51px;
}
.progress .step6 {
	margin-left: -34px;
}
/*成功修改密码*/
.complete .registration_success {
	width: 570px;
	height: 95px;
	margin-top: 100px;
	margin-left: 386px;
}
.complete .registration_success img {
	float: left;
}
.complete .registration_success .step7 {
	display: inline-block;
	margin-top: 26px;
    margin-left: 10px;
}
.complete .eh {
	color: #fff;
	width: 140px;
	height: 36px;
	background-color: #0188cc;
	text-align: center;
	line-height: 36px;
	margin-top: 51px;
    margin-left: 465px;
    cursor: pointer;
}
.complete .eh a {
	color: #fff;
	text-decoration: none;
}